* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    margin: 0;
    color: #090909;
    background-color: #f9f9f9;
}

html, body, body > main {
    height: 100%;
}

main {

}

ol {
    max-width: 720px;
    margin: 0 auto;
}

article {
    background-color: rgba(255,255,255, 0.77);
    border-radius: 2px;
    padding: 1rem;
    margin-bottom: 1rem;
}

article.hidden {
    filter: blur(1.4px);
    color: #090909aa;
}